*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 12vh;
}

main{
    height: 80vh;
    background-color: #7FFFD4;

}

footer{
    height: 8vh;
}

/* UTILITIES */

.container{
    max-width: 100%;
    height: 100%;
}

.row{
    width: 100%;
}
/* FINE UTILITIES */